/* User Form */
#user-form {
    background-color: #787878;
}

#user-label {
    color: white;
}

#user-name {
    background-color: white;
}

#user-name.success {
    background-color: #70FF00;
}

#user-name.failure {
    background-color: #FF5252;
}

#user-name.spinner {
    background: white url('spinner.gif') no-repeat right center;
}


/* Bug Lists */
#bug-lists {

}

.bug-category {

}

.category-head {
    background-color: #DBDBDB;
    padding: 2px 10px;
}

.category-head .category-count {
    color: orange;
    display: inline-block;
    width: 40px;
}

.category-head .category-name {
    
}

ul.bug-list {
    background-color: #EDEDED;
    list-style-type: none;
}

.bug-list a, .bug-list a:hover {
    color: black;
    text-decoration: none;
}